{% assign challenge = site.data.challenges[include.name] %}
{% assign chall_name = include.name %}

{% if challenge %}
    <div class="card-header">
        <strong><code id="{{ chall_name}}-title">{{ challenge.title }}</code></strong>
    </div>
    <ul class="list-group list-group-flush">
        {% if challenge.about %}
        <li class="list-group-item">
            <div class="form-group row">
                <div class="col-sm-2">
                    <strong>About: </strong>
                </div>
                <div class="col-sm-10">
                    {{ challenge.about }}
                </div>
            </div>
        </li>
        {% endif %}

        {% if challenge.connect %}
            <li class="list-group-item">
                <div class="form-group row">
                    <div class="col-sm-2">
                        <strong>Connect: </strong>
                    </div>
                    <div class="col-sm-10">
                        <code>{{ challenge.connect }}</code>
                    </div>  
                </div>
            </li>
        {% endif %}

        {% if challenge.file_path %}
            <li class="list-group-item">
                <div class="form-group row">
                    <div class="col-sm-2">
                        <strong>Files: </strong>
                    </div>
                    <div class="col-sm-5">
                        <a href="{{ challenge.file_path }}" download> Download Files </a>
                    </div>
                </div>
            </li>
        {% endif %}

        {% if challenge.flag_MD5 %}
        <li class="list-group-item">
            <form class="challenge" id="{{ chall_name }}">
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="{{ chall_name }}-flag" class="col-sm-6 col-form-label"><strong>Flag:</strong></label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" id="{{ chall_name }}-flag" placeholder=
                          {% if challenge.flag_format %}
                            "{{challenge.flag_format}}"
                          {% else %}
                            "hackpack{...}"
                          {% endif %}
                        >

                        <div class="valid-feedback">
                            Great job! You are l33t &#128526;
                        </div>
                        <div class="invalid-feedback">
                            Flag is incorrect. Try again!
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" id="{{ chall_name }}-submit" class="btn btn-primary mb-2">Check</button>
                    </div>
                    
                    <!-- If you feel like cracking this, be my guest -->
                    <span hidden=true id="{{ chall_name }}-flag-md5">{{ challenge.flag_MD5 }}</span>
                </div>
            </form>
        </li>
        {% endif %} 
    </ul>

{% else %}
    <li class="list-group-item">No chall here :(</li>
{% endif %}

