<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>


    <h2 class="d-flex footer-heading justify-content-center">{{ site.title | escape }}</h2>
<div class="d-flex row flex-row justify-content-center">
      <div class="p-4 col d-flex justify-content-center">
        <ul class="contact-list">
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="p-4 col  d-flex justify-content-center">
        <a href="https://twitter.com/HackPackCTF" class="twitter-follow-button" data-show-count="false">Follow @HackPackCTF</a>
      </div>

      <div class="p-4 col  d-flex justify-content-center">
        <p>{{- site.description | escape -}}</p>
    </div>
</div>

</footer>
