---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


$success-color:     lightgreen;

/**
 * When the parent form has .challenge-solved, all child inputs will be colored a color indicating success.
 */
form.challenge-solved {
    input {
        background-color: $success-color;
    }
}

/**
 * Elements with .on-challenge-solve and .on-challenge-incorrect will be invisible unless
 * the parent form has .challenge-solved and .challenge-incorrect, respectively.
 */
form {
    .on-challenge-solve {
        display: none;
    }

    div.on-challenge-incorrect {
        display: none;
    }
}

form.challenge-solved {
    .on-challenge-solve {
        display: initial;
    }

    .on-challenge-incorrect {
        display: none;
    }
}

form.challenge-incorrect {
    .on-challenge-solve {
        display: none;
    }

    .on-challenge-incorrect {
        display: initial;
    }
}