---
layout: page
---

<!-- 
    To update the current challenge:
    1. Add your challenge info to challenges.yml
    2. Make sure any necessary files are in challenge_files 
    3. Change current_chal in learn.md the new id
-->

<h2>Current Challenge</h2>
<div class="card" style="width: 42rem;">

    {% include challenge_card.html name=page.current_chal %}

</div>

<!-- Challenge archive link go here in the future! -->

<script src="/assets/js/md5.js"></script>


<h2>Learning Material</h2>
{{ content }}